/* Image copied from https://www.wallpaperup.com/ */
#home-image {
    background: url("../images/lotus-7-background.jpg") 
    no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
  
}

body > div{
text-align: center;
}