/* Image copied from https://www.wallpaperup.com/ */

html,body
{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  height: 100%;
  background-color: #90d7d4 !important;
}

h1 {
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
h2 {
  padding: 15px;
}
p{
  font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 18px;
  /* background-color: black; */
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.5em;
}

li a:hover {
  background-color: #111;
}

#nav-bar{
  background-color: #90d7d4;
}

/* Main section button link */
/* .div-image-style
{
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
} */
/* @media only screen and (max-width: 768px) {
.container {
    max-width: 100%;
} */

@media (min-width: 1200px){
#container_override {
    max-width: 1720px;
}}

#image-1
{
  background: url("../images/2013-Caterham-Seven-620-R-V7-cropped.jpg") 
  no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 400px;
  
  
}
#image-2
{
  background: url("../images/2013-Caterham-Seven-620-R-V9-1080.jpg") 
  no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-size: cover;
  height:400px;
}



#home-button
{
  text-align: center;
  margin-top: 35%;
  font-size: 1.5em;
 
}

#home-button > button
{
  border-radius: 10px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  padding: 10px;
  border-color: black;
  background-color:#dea807;

}


/* Performance Page */

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}